/* src/pages/ListingDetails.css */

.listing-container {
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  max-width: 800px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.back-button {
  background: none;
  color: #1565C0; /* Adjust the color to match the "Back" button */
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
  display: inline-block; /* Make sure the button doesn't span the full width */
  text-align: left;
  padding-left: 0;
}

.listing-container .back-button:hover {
  text-decoration: underline;
}

.listing-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.listing-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listing-info p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.listing-buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
