/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between; /* Centers content horizontally with space between */
  align-items: center; /* Vertically center the items */
  padding: 10px 20px; /* Add padding on the left and right */
  background-color: #f8f9fa; /* Background color */
  width: 100%; /* Make sure the navbar spans the full width of the screen */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a slight shadow for better separation */
  position: fixed; /* Ensure the navbar stays at the top */
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure the navbar is above all other elements */
  margin-right: 10px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left a,
.navbar-right a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
}

.navbar-right .navbar-username {
  margin-left: 10px;
  font-weight: bold;
}

.navbar-right button {
  margin-left: 10px;
}

.main-content {
  padding-top: 60px; /* Adjust this based on the navbar height to avoid content being hidden behind it */
}
