/* src/components/NavBar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #333;
  color: white;
  padding: 0 20px;
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0 15px;
}

.navbar .navbar-right .MuiBadge-root {
  margin-right: 15px;
}

.navbar .MuiButton-root {
  margin-left: 10px;
}
